__pycache__
.env
.learn
src/nan_records.csv
src/metadata_cleaned.csv
src/metadata_processed.csv
src/metadata_processed_ntk.csv
src/prueba_16_20/resnet50_fine_tuned_model.h5
src/prueba_16_20/skin_cancer_model.h5
src/prueba_16_20/src/prueba_16_20/skin_cancer_model.h5
src/prueba_16_20/resnet50_fine_tuned_model_40.h5
src/prueba_16_20/resnet50_fine_tuned_model_60.h5
models/modelo_prueba.h5
