__pycache__
.env
.learn
src/nan_records.csv
src/metadata_cleaned.csv
src/metadata_processed_ntk.csv
src/metadata_processed.csv
data/2016-2024/image/
data/image/
data/jpeg/
data/processed/df_test_processed.csv
data/processed/df_train_processed.csv
data/raw/ISIC_2024_Challenge_SelfClean_Near_Duplicates.csv
data/raw/ISIC_2024_Challenge_SelfClean_Scores.csv
data/raw/sample_submission.csv
data/raw/test-metadata.csv
data/raw/train-metadata.csv
src/submission.csv
models/modelo_prueba.h5
src/ensamblado_de_modelos/model/resnet50_fine_tuned_model_20.h5
src/prueba_16_20/resnet50_fine_tuned_model_20.h5
src/prueba_16_20/resnet50_fine_tuned_model_40.h5
src/prueba_16_20/resnet50_fine_tuned_model_60.h5
src/prueba_16_20/resnet50_fine_tuned_model.h5
src/ensamblado_de_modelos/model/ensemble_model.pkl
src/prueba_16_20/skin_cancer_model.h5
